{# app/Resources/views/security/roles/create_role.html.twig #}
{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
<div id = "container">
{% include('menu.html.twig') %}
<h2>Създаване на роля</h2>
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.permissions) }}


    
{{ form_end(form) }}
</div>
{% endblock %}