{# app/Resources/views/security/roles/create_role.html.twig #}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    

    <button type="submit">Register!</button>
{{ form_end(form) }}