{% extends "::base.html.twig" %}


{% block body %}
<div id = "container">
{% include('menu.html.twig') %}
<h2>Роли:</h2>
{% for role in roles %}
    <div class="span4">
        {{ role.name }}
          <a href="{{ url('edit_role',{'roleId': role.id}) }}">Edit</a> 
    </div>
{% endfor %}
<a  class="btn btn-primary" href="{{ path('role_create') }}">Създаване на потребител</a>
</div>
{% endblock %}